@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h4{
    background-color: rgba(0, 0, 0, 0.479) ;
    color: white;
    border-radius: 0px 0px 25px 25px;
}
.title{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.container{
    background-image: url('10.jpg');
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.479) ; 
    border-radius: 0 0 25px 25px;   
}
#row{
    top: 0;
    background-color: rgba(0, 0, 0, 0.479);
}
#form{
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    font-weight: bold;
}
span{
    color: rgba(255, 0, 0, 0.87);
}